.navbar{
background-color: aqua;
color: crimson;
height: 50px;
padding: 8px;
}
a{
    margin: 10px;
    color: black;
    font-size: medium;
    text-decoration: none;
}
button{
    margin: 10px;
    /* background-color: darkorange; */
    width: 70px;
    height: 35px;
    border: none;
    border-radius: 6px;
}