/* .makeHide{
height: 30px;
width: 60px;
}


.active {
    color: cyan;
    background-color: darkgray;
}

.inactive{
    color: red ;
    background-color: darkolivegreen;

}
.act{
    color: #124369;
    background-color: #789646;   
}
.inact{
    color: red ;
    background-color: #746189;
} */
img{
    align-items: center;
}
button{
    position: fixed;
}