.makeHide{
    background-color: aqua;
    color: darkmagenta;
}


.active {
    color: cyan;
    background-color: darkgray;
}

.inactive{
    color: red ;
    background-color: darkolivegreen;
    
}